body{
    font-family: monospace;
    background-color: rgb(24, 23, 23);
    color: rgb(211, 201, 214);
    padding: 10px;
    padding-left: 30px;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐶</text></svg>") 16 0,auto; /*!emojicursor.app*/
}


hr{
    margin-bottom: 50px;
}

p{
    font-size: 13px;
    margin-top: 30px;
    color: rgb(165, 129, 175);
}

img{
    height: 350px;
}

.indie-folk{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(211, 201, 214);
    padding: 5px;
}

.indie-folk:hover{
    color: rgb(239, 233, 166);
    font-size: 40px;
}

.classic-rock{
font-family: fantasy;
padding: 3px;
color: rgb(211, 201, 214);
}

.classic-rock:hover{
    color: rgb(24, 46, 156);
    font-size: 50px;
}

.alt-rock{
    font-family:inherit;
    font-size: x-large;
    font-weight: 900;
    font-style: oblique;
    color: rgb(211, 201, 214);
}

.alt-rock:hover{
    font-size: 60px;
    color: brown;
}

.button{
color: brown;}

a{
    color: rgb(255, 219, 60);
}