label {
    display: block;
    margin: 10px;
  }
  
  label>span {
    display: inline-block;
    width: 160px;
    text-align: right;
  }
  
  #parameters {
    width: 360px;
    float: left;
  }
  
  #maze {
    float: left;
  }