body{
    background-color: black;
    margin-top: 35vh;
    margin-left: 30vw;

}

h1{
    font-size: 50px;
    color: #ff9d9d;
    font-family: 'Times New Roman';
    font-style: oblique;
}

H2{
    color: #f9eded;
    font-family: monospace;
    font-weight: 5;
    margin-left: 10vw;
    margin-top: 20px;

}

H3{
    color: #e49c9c;
    font-family: monospace;
    font-weight: 5;
    text-decoration: underline;
    margin-left: 13vw;
    margin-right: auto;
    margin-top: 38vh;

}

h3:hover{
    color: rgb(13, 13, 13);
}